<% layout('layouts/main') %>
  <footer class="fixed-bottom">
    <div style="background-color: #8484af41;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
            <h6 class="mb-0 mr-5" style="color: rgb(125, 136, 136)">Get connected with us on SOCIAL networks!</h6>
            <div class="mr-5">
                <a class="fb-ic">
                    <i class="fab fa-facebook mr-4"> </i>
                  </a>
                  <a class="tw-ic">
                    <i class="fab fa-twitter mr-4"> </i>
                  </a>
                  <a class="gplus-ic">
                    <i class="fab fa-google-plus-g mr-4"> </i>
                  </a>
                  <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                  </a>
                  <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                  </a>
            </div>
          </div>
        </div>
    </div>
    <div class="container mt-4">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3">
          <h6 class="text-uppercase font-weight-light">Earth-Q</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="text-justify">We are an enterprise decided to create a prevention system more strengthened to help our community in Colima City, Mexico.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-light">Page Map</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/">Home</a>
          </p>
          <p>
            <a href="/overview">Overview</a>
          </p>
          <p>
            <a href="/graphics">Graphics</a>
          </p>
          <p>
            <a href="/about">About</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-light">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Next Steps</a>
          </p>
          <p>
            <a href="#!">Graphics</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>

        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-light">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Colima, V.de.A 28985, MX</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> earthq@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
    <div class="font-weight-light text-center text-black-50 py-3">© 2018 Copyright:
      <a class="font-weight-light" href="/"> EarthQ.com</a>
    </div>
  </footer>
</body>
</html>